.todolist {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.additionalClass {
  font-weight: 600;
  letter-spacing: 0.5px;
}

.done {
  opacity: 0.5;
}

.list {
  padding: 10px;
}

.button {
  margin-right: 10px;
}
